{% extends 'base-empty.html.twig' %}

{% block title %} API Documentation | {{ parent() }}{% endblock %}

{% block body %}
    <div id="redoc-container"></div>
    {{ parent() }}
{% endblock %}

